html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************************************************/
/****************************** GENERAL *************************************/
/******************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

html, body, p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

/******************************************************************************/
/****************************** HEADER **************************************/
/******************************************************************************/
header {
    background: url('img/fondHeader.png');
    height: 1045px;
    padding-top: 25px;
}

#logoOwl {
    float: left;
}

#site-navigation .menu-menu-principal-container {
    float: right;
}

#site-navigation .menu-menu-principal-container ul {
    padding-top: 32px;
}

#site-navigation .menu-menu-principal-container ul li {
    padding: 0 0 10px 0;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
#site-navigation .menu-menu-principal-container ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#site-navigation .menu-menu-principal-container ul li:hover:before, #site-navigation .menu-menu-principal-container ul li:focus:before, #site-navigation .menu-menu-principal-container ul li:active:before {
    left: 0;
    right: 0;
}
#site-navigation .menu-menu-principal-container ul li a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
#entete {
    position: absolute;
    top: 350px;
    width: 350px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#entete h1 {
    font-size: 64px;
}

/******************************************************************************/
/******************************* HOME ***************************************/
/******************************************************************************/
section#accueil {
    background: url('img/fondAccueil.png');
    background-repeat: no-repeat;
}

section#accueil .container {
    text-align: center;
    padding-top: 450px;
}

section#accueil .container h1, section#accueil .container h2 {
    text-transform: uppercase;
    color: #3c3839;
}

section#accueil .container #concept ul {
    padding-top: 100px;
}

section#accueil .container #concept ul li {
    border: solid 2px #282828;
    display: inline-block;
    width: 30%;
    margin: 0 15px;
    padding: 75px 0;
    color: #3c3839;
}

section#accueil .container #concept ul li h4 {
    padding: 45px 0;
    text-transform: uppercase;
}

section#accueil .container #concept ul li p {
    font-size: 16px;
    color: #3c3839;
}
section#agence {
    background: #282828;
    text-align: center;
}
section#agence .container #membres {
    padding: 50px 0;
    margin-top: 100px;
}
section#agence .container #membres h1 {
    text-transform: uppercase;
}
section#agence .container #membres h2 {
    text-transform: none;
    text-transform: uppercase;
    padding:5px 0;
}

section#agence .container #membres ul {
    padding-top: 45px;
}

section#agence .container #membres ul li {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
}
section#agence .container #membres ul li h4 {
    text-transform: uppercase;
    padding: 20px  0;
}
section#agence .container #membres ul li p {
    color: #fff;
    line-height: 25px;
}

/******************************************************************************/
/******************************* PROJETS **************************************/
/******************************************************************************/

section#projets .container {
    text-align: center;
    padding: 50px;
}

section#projets .container h1, section#projets .container h2 {
    text-transform: uppercase;
    color: #3c3839;
}

section#projets .container #nos_projets ul {
    padding-top: 100px;
    text-align: initial;
}

section#projets .container #nos_projets ul li {
    display: inline-block;
    width: 570px;
    color: #3c3839;
    text-align: initial;
    padding:  0 5px;
    vertical-align: top;
    min-height: 600px;
    margin-bottom: 15px;
}
section#projets .container #nos_projets ul li .un_projet {
    padding:0 40px;
}
section#projets .container #nos_projets ul li h4 {
    position: relative;
    padding: 45px 0;
    text-transform: uppercase;
}
section#projets .container #nos_projets ul li h4::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background: #3c3839;
    bottom:25px;
    left:0;
}

section#projets .container #nos_projets ul li p {
    font-size: 16px;
    color: #3c3839;
    margin-bottom: 20px;
    min-height: 80px;
    vertical-align: top;
}
section#projets .container #nos_projets ul li a.plus {
    color: #3c3839;
    border: solid 1px #3c3839;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#projets .container #nos_projets ul li a.plus:before {
    content: "Lire";
    padding: 8px 37px 7px 25px;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
    background: #282828;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
section#projets .container #nos_projets ul li a.plus:hover, section#projets .container #nos_projets ul li a.plus:focus, section#projets .container #nos_projets ul li a.plus:active {
    color: white;
}
section#projets .container #nos_projets ul li a.plus:hover:before, section#projets .container #nos_projets ul li a.plus:focus:before, section#projets .container #nos_projets ul li a.plus:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/******************************************************************************/
/******************************* CONTACT ************************************/
/******************************************************************************/
section#contact {
    background: url('img/fondContact.jpg');
    height: 799px;
    background-repeat: no-repeat;
}
section#contact h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
}
section#contact .container {
    padding: 50px 0;
}
section#contact #wpcf7-f17-p4-o1 {
    float: left;
}
section#contact #map {
    float: right;
}
section#contact #wpcf7-f17-p4-o1 input::-webkit-input-placeholder, section#contact #wpcf7-f17-p4-o1 textarea::-webkit-input-placeholder {
    color: #fff;
}
section#contact #wpcf7-f17-p4-o1 input {
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background: transparent;
    width: 239px;
    height: 40px;
    margin:10px 0;
    border: solid 2px  #fff;
}
section#contact #wpcf7-f17-p4-o1 textarea {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 500px;
    border: solid 2px  #fff;
    background: transparent;
    box-sizing: border-box;
}
section#contact #wpcf7-f17-p4-o1 select {
    font-size: 16px;
    color: #fff;
    padding:0;
    border: solid 2px  #fff;
    background: transparent;
    width: 500px;
    height: 40px;
    margin:10px 0;
}
section#contact #wpcf7-f17-p4-o1 select option {
    cursor: pointer;
    background: #282828;
    margin:10px 0;
    font-size: 16px;
    color: #fff;
}
/******************************************************************************/
/******************************* FOOTER **************************************/
/******************************************************************************/
footer {
    padding-top: 20px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #282828;
}
footer .site-info {

}
footer .site-info ul {
/* un commentaire la */
}
footer .site-info ul li {
    padding: 0 15px;
    position: relative;
    display: inline-block;
}
footer .site-info ul a.no-link {
    position: relative;
    padding:0 15px;
    display: inline-block;
    vertical-align: middle;
}
footer .site-info ul a.no-link::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 1px;
    background: #fff;
    display: inline-block;
    top:5px;
    left:0px;
}
footer .site-info ul a.no-link::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 1px;
    background: #fff;
    display: inline-block;
    top:5px;
    right:0px;
}
#map {
    width: 500px;
    height: 393px;
}